<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to 'Sign In', '/auth/tumblr' %>


<% if current_user %>
	<%= link_to 'Sign Out', signout_path %>
<% else %>
	<%= link_to 'Sign in with Tumblr', '/auth/tumblr' %>
<% end %>

<% if current_user %>
<h3>Create a Post</h3>
<% #make sure to make this restful in the controllers later %>
<%= form_for @text_post, url: {action: 'create', controller: 'text_posts'}, remote: true do |f| %>
	<fieldset>
		<% #text post %>
		<%= f.text_field :title %>
		<%= f.text_area :body %>
		<%= f.submit %>
	</fieldset>
<% end %>
<%= form_for @photo_post, url: {action: 'create', controller: 'photo_posts'}, remote: true, authenticity_token: true do |f| %> #, remote: true do |f| %>
	<fieldset>
		<% #photo post %>
		<%= f.file_field :data %>
		<%= f.text_area :caption %>
		<%= f.submit %>
	</fieldset>
<% end %>

<% @dashboard["posts"].each do |post| %>
	<div class='post'>
	<%= post['blog_name'] %>
	<%# remember to sanatize "<script>" tags since tumblr is weird and doesn't filter them... %>
	<% if post['title'] %>
		<h2><%= post['title'] %><h2>
	<% end %>
	<% if post['caption'] %>
		<%= post['caption'].html_safe %>
	<% end %>	
	<% if post['type'] == 'photo' %>
		<% post['photos'].each do |photo| %>
			<% #0 is the largest image %>
			<%= image_tag photo['alt_sizes'][0]['url'] %>
		<% end %>
	<% end %>
	Notes: <%#= post['note_count'] %>
	</div>
<% end %>


<% @dashboard['posts'].each do |post| %>
	<%= post %>
	<br><br>
<% end %>
<% end %>
