<div>

<div id='messages_groups' >
<% @groups.each do |group| %>
	<%= group.name %>
<% end %>
</div>

<%= form_for Group.new, remote: true do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>


</div>
<div class="groups">
</div>

adduser by name
<%= text_field_tag :add_user %>
<div id="group_add">add user to group</div>


<div class="messages">
</div>

<input id="message_body" />
<div id="message_create">send message</div>
